<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOozE0aGaLkqrTmCoNF_IFkO_IFS1nazw</string>
	<key>GCM_SENDER_ID</key>
	<string>850632660725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mustEatPlaceAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>musteatplace-5449e</string>
	<key>STORAGE_BUCKET</key>
	<string>musteatplace-5449e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850632660725:ios:b280bd3045474c16aa57bc</string>
</dict>
</plist>